<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <!-- Landing Page Criada por Jeffesson Gomes de Almeida -->
  <!-- Página desenvolvida pela TecHAY -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Carvvo</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style-mobile.css' %}" />
  <script src="https://kit.fontawesome.com/e177f68271.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="mobile-div">
  <div id="header">
    <div class="bg-dark-tec">
      <nav class="navbar navbar-expand-lg navbar-light bg-menu-land">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">LOBO BRANCO</a>
          <button class="navbar-toggler mobile-bars type=" button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="fas fa-bars mobile-bars"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">COMPRE AQUI<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">INGREDIENTES<span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="header-info">
              <h2>
                Seu Melhor Sorriso <br> Sem Sair de Casa
              </h2>
              <p>
                Experimente os benefícios de
                Carvvo e se surpreenda.
              </p>
              <a class="btn-techay btn-cto" href="">COMPRE O SEU</a>
            </div>
          </div>
        </div>
      </div>
      <div class="divide-to-sec">
        <div class="svg-border">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <path class="svg-edit" d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3
              c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3
              c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="desc-start">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-6">
          <video src="video/video.mp4" controls class="yt-video" ></video>
        </div>
        <div class="col-12 col-lg-6">
          <div class="desc-start-info">
            <h3>
              Eficácia e Segurança
            </h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem natus aliquid molestiae nam totam
              odit blanditiis est? Minima fugiat maxime quas aliquid quaerat consequatur explicabo nulla ipsum quos, ad
              ut?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divide-to-client">
    <div class="svg-border">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
        <path class="svg-edit" d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3
          c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3
          c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z"></path>
      </svg>
    </div>
  </div>
  <div id="client-say">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="client-info">
            <h3>Nossos Clientes Estão Satisfeitos?</h3>
            <p>Veja o que dizem os clientes mais sorridentes do Brasil:</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div id="carouselT" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="d-flex justify-content-center">
                  <div class="client-comment">
                    <div class="photo-profile">
                      <img src="{% static 'img/blank_profile.png' %}" />
                    </div>
                    <div class="info-profile">
                      <div class="name-profile">
                        <h5>Jeffesson Gomes de Almeida</h5>
                      </div>
                      <div class="comment-profile">
                        <p>
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex justify-content-center">
                  <div class="client-comment">
                    <div class="photo-profile">
                      <img src="{% static 'img/blank_profile.png' %}" />
                    </div>
                    <div class="info-profile">
                      <div class="name-profile">
                        <h5>Jeffesson Gomes de Almeida</h5>
                      </div>
                      <div class="comment-profile">
                        <p>
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex justify-content-center">
                  <div class="client-comment">
                    <div class="photo-profile">
                      <img src="{% static 'img/blank_profile.png' %}" />
                    </div>
                    <div class="info-profile">
                      <div class="name-profile">
                        <h5>Jeffesson Gomes de Almeida</h5>
                      </div>
                      <div class="comment-profile">
                        <p>
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselT" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselT" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-4 col-lg-3">
          <img  class="w-100 img-cliente img-fluid img-thumbnail" src="{% static 'img/carvo-1.jpeg' %}" />
        </div>
        <div class="col-12 mt-4 col-lg-3">
          <img class="w-100 img-cliente img-fluid img-thumbnail" src="{% static 'img/carvo-2.jpg' %}" />
        </div>
        <div class="col-12 mt-4 col-lg-3">
          <img class="w-100 img-cliente img-fluid img-thumbnail" src="{% static 'img/carvo-3.jpg' %}" />
        </div>
        <div class="col-12 mt-4 col-lg-3">
          <img class="w-100 img-cliente img-fluid img-thumbnail" src="{% static 'img/carvo-4.jpeg' %}" />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-center pt-4 pb-4">
            <a class="btn-techay btn-cto" href="">COMPRE O SEU</a>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="divide-to-garantia">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
      <path class="svg-edit" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
        c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
        c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
    </svg>
  </div>
  <div id="garantia">
    <div class="img-garantia">
      <img src="{% static 'img/garantia.png' %}" />
      <div class="btn-garantia">
        <a class="btn-garantia-cto" href="#">Sorriso com garantia</a>
      </div>
    </div>
  </div>
  <div class="divide-to-ingre">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
      <path class="svg-edit" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
        c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
        c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
    </svg>
  </div>

  <div id="ingredientes">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="ingre-info">
            <h2>Ingredientes Que Você Entende</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt praesentium dicta quam, vel inventore
              quis officiis maiores molestias est provident, ad quos maxime officia repellendus nam asperiores
              necessitatibus dolor dolore.</p>
          </div>
        </div>
        <div class="col-12 mt-1">
          <div class="ingrediente-self">
            <img src="{% static 'img/carvao_ativado.png' %}" />
            <h4>Carvão ativado</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus libero aspernatur facere ipsam qui. Ad et quae, libero aperiam dolores obcaecati. Dolor inventore modi eligendi iste magni nulla minus porro.</p>
          </div>
        </div>
        <div class="col-12 mt-1">
          <div class="ingrediente-self">
            <img src="{% static 'img/argila_kaolin.png' %}" />
            <h4>Argila Kaolin</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati est magni, blanditiis reprehenderit molestias molestiae eos doloremque officia nostrum ratione necessitatibus ipsam sequi sed labore et autem laboriosam quasi voluptatibus.</p>
          </div>
        </div>
        <div class="col-12 mt-1">
          <div class="ingrediente-self">
            <img src="{% static 'img/oleo_essencial.png' %}" />
            <h4>Óleo essencial de Laranja</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, maiores. Vero porro dignissimos quo. Corporis, incidunt sapiente. Dolore et aliquam, iure placeat quasi maiores at, ea impedit rerum, sit repellendus.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divide-to-uso">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
      <path class="svg-edit" d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3
        c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3
        c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z"></path>
    </svg>
  </div>
  <div id="container-uso">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="uso-info">
            <h3>
              Como Usar
            </h3>
            <p>
              <span class="font-negr">
                Lorem ipsum dolor sit.
              </span>
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam similique, nihil perferendis
              exercitationem tenetur voluptates velit, animi veniam dolorum a, iste nulla cum repellat quia hic facilis
              accusantium in maxime?
            </p>
            <div class="pt-4 pb-4">
              <a href="#" class="btn-cto btn-techay">COMPRE O SEU</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="container-info-passo">
            <div class="row">
              <div class="col-12 col-lg-6">
                <div class="uso-info-passo">
                  <img src="{% static 'img/passo1-1.png' %}" />
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="uso-info-passo">
                  <img src="{% static 'img/passo2.png' %}" />
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="uso-info-passo">
                  <img src="{% static 'img/passo3.png' %}" />
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="uso-info-passo">
                  <img src="{% static 'img/Ativo-7.png' %}" />
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="container-buy">
    <div class="bg-buy">
      <div class="divide-to-buy">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
          <path class="svg-edit" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
          c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
          c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
        </svg>

      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title">
              <h2>Compre Agora</h2>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12 col-lg-4 mt-4">
            <div class="buy-unid">
              <h3>COMPRE 1 POTE</h3>
              <div class="img-produto">
                <img src="{% static 'img/produto.jpeg' %}" />
              </div>
              <p><span class="font-negr">R$ 97,00</span> ou</p>
              <p>POR 3X DE</p>
              <h2>R$ 32,34</h2>
              <a href="#">COMPRAR AGORA</a>
            </div>
          </div>
          <div class="col-12 col-lg-4 mt-4">
            <div class="buy-unid">
              <h3>COMPRE 2 POTE</h3>
              <div class="img-produto">
                <img src="{% static 'img/produto.jpeg' %}" />
              </div>
              <p><span class="font-negr">R$ 97,00</span> ou</p>
              <p>POR 3X DE</p>
              <h2>R$ 32,34</h2>
              <a href="#">COMPRAR AGORA</a>
            </div>
          </div>
          <div class="col-12 col-lg-4 mt-4">
            <div class="buy-unid">
              <h3>COMPRE 3 POTE</h3>
              <div class="img-produto">
                <img src="{% static 'img/produto.jpeg' %}" />
              </div>
              <p><span class="font-negr">R$ 97,00</span> ou</p>
              <p>POR 3X DE</p>
              <h2>R$ 32,34</h2>
              <a href="#">COMPRAR AGORA</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="container-duvidas">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="info-duvidas">
            <h3>Restou alguma dúvida?</h3>
          </div>
        </div>
        <div class="col-12">
          <div class="accordion" id="accordionT">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Collapsible Group Item #1
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionT">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                  proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                  aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Collapsible Group Item #2
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionT">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                  proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                  aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Collapsible Group Item #3
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionT">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                  proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                  aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divide-to-footer">
    <div class="svg-border">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
        <path class="svg-edit" d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3
          c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3
          c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z"></path>
      </svg>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="text-footer">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos eius mollitia et non optio enim, nulla
              reprehenderit esse, nisi repudiandae quas sapiente rerum recusandae nam eaque, ducimus in earum
              voluptatibus!</p>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="img-seguro">
            <img src="{% static 'img/site-seguro-1.png' %}" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="img-logo-techay">
            <a href="https://www.hostpotiguar.com.br" target="_blank" data-toggle="tooltip" data-placement="top"
              title="Desenvolvido por TecHAY">
              <img class="logo-techay" src="{% static 'img/NEW_LOGO_TecHAY.png' %}" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
</body>

</html>