{% extends "base.html" %}

{% block conteudo %}
	<div class="mt-2">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-12 col-lg-4">
					<a href="#">
						<div class="option-edit">
							<div class="bg-option">
							 	<h2>Menu</h2>
							 	<p>
							 		Altere as opções do Menu
							 	</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-12 col-lg-4">
					<a href="#">
						<!-- Cada opção terá o print do setor -->
						<div class="option-edit">
							<div class="bg-option">
							 	<h2>Cabeçalho</h2>
							 	<p>
							 		Altere a descrição que aparece no inicio
							 	</p>
							 </div>
						</div>
					</a>
				</div>
				<div class="col-12 col-lg-4">
					<a href="#">
						<div class="option-edit">
							<div class="bg-option">
							 	<h2>EFICÁCIA E SEGURANÇA</h2>
							 	<p>
							 		Altere as primeiras informações e o vídeo
							 	</p>
							 </div>
						</div>
					</a>
				</div>
				<div class="col-12 col-lg-4">
					<a href="#">
						<div class="option-edit">
							<div class="bg-option">
						 		<h2>NOSSOS CLIENTES ESTÃO SATISFEITOS?</h2>
							 	<p>
							 		Altere as informações do cliente
							 	</p>
							 </div>
						</div>
					</a>
				</div>
				<div class="col-12 col-lg-4">
					<a href="#">
						<div class="option-edit">
							<div class="bg-option">
							 	<h2>Imagens de casos reais</h2>
							 	<p>
							 		Altere as imagens
							 	</p>
							 </div>
						</div>
					</a>
				</div>
				<div class="col-12 col-lg-4">
					<a href="#">
						<div class="option-edit">
							<div class="bg-option">
							 	<h2>INGREDIENTES QUE VOCÊ ENTENDE</h2>
							 	<p>
							 		Altere as informações dos ingredientes
							 	</p>
							 </div>
						</div>
					</a>
				</div>
				<div class="col-12 col-lg-4">
					<a href="#">
						<div class="option-edit">
							<div class="bg-option">
							 	<h2>COMO USAR</h2>
							 	<p>
							 		Altere as informações de como utilizar o produto
							 	</p>
							 </div>
						</div>
					</a>
				</div>
				<div class="col-12 col-lg-4">
					<a href="#">
						<div class="option-edit">
							<div class="bg-option">
							 	<h2>Preços</h2>
							 	<p>
							 		Altere os preços
							 	</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-12 col-lg-4">
					<a href="#">
						<div class="option-edit">
							<div class="bg-option">
							 	<h2>Dúvidas</h2>
							 	<p>
							 		Coloque as principais dúvidas
							 	</p>
							 </div>
						</div>
					</a>
				</div>
				<div class="col-12 col-lg-4">
					<a href="#">
						<div class="option-edit">
							<div class="bg-option">
							 	<h2>Rodapé</h2>
							 	<p>
							 		Coloque informações como o seu nome, CNPJ e link para as suas redes sociais.
							 	</p>	
							 </div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}