
{% extends "base.html" %}

{% block conteudo %}
<div class="content">
	<div class="container">
		{% if clients.all %}	
		<div align="center">
			<a href="{% url 'add_client' %}" class="btn btn-success">ADICIONAR</a>
		</div>
		{% endif %}
		{% for client in clients %}
		<div class="col-8">
			<ul>
				<li>{{client.name}}</li>
				<li>{{client.details}}</li>
			</ul>
			<a href="{% url 'edit_client' client.pk %}" class="btn btn-primary">EDITAR</a>
			<a href="{% url 'delete_client' client.pk %}" class="btn btn-danger">APAGAR</a>
		</div>
		{% empty %}
		<a href="{% url 'add_client' %}" class="btn btn-success">ADICIONAR</a>
		{% endfor %}
	</div>
</div>	
{% endblock %}
